@import "./../base/colors";
@import "./../base/fonts";

.row {
  display: flex;
  flex-direction: column;

  .column {
    width: 97%;
    display: block;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }

  .container__card {
    padding: 0 16px;
  }

  .card img {
    display: block;
    width: 80%;
    margin: 0 auto;
    border-radius: 100%;
    padding: 15px;
  }

  .container__card::after,
  .row::after {
    content: ".";
    color: white;
    clear: both;
    display: table;
  }

  .container__card .title {
    font-weight: 0;
    color: grey;
    font-size: 13px;
    font-weight: 500;
    line-height: 10px;
    font-style: italic;
  }
}
@media screen and (min-width: 768px) {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .column {
      width: calc(100% / 2);
    }
  }
}

@media screen and (min-width: 1000px) {
  .row {
    .column {
      width: calc(100% / 3);
    }
  }
}

//join us page
.row {
  &--joinUs {
    display: flex;
    justify-content: center;
  }
  .column {
    &--joinUs {
      width: 100%;
      float: unset;
    }
    form {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      textarea:read-only {
        width: calc(100% - 35px);
        height: 100%;
        overflow-y: scroll;
      }
    }
    .card {
      &--joinUs {
        padding-bottom: 35px;
      }
    }
    .gender__container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 25px 0;
      input[type="radio"] {
        margin: 0;
        padding: 0;
        background-color: pink;
      }
      input[type="radio"]:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #d1d3d1;
        content: "";
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
      }

      input[type="radio"]:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: $color__link;
        content: "";
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
      }
      label {
        padding: 0;
        margin: 0 15px 0 5px;
      }
    }
    input[type="checkbox"] {
      margin: 0;
      padding: 0;
    }
    input[type="checkbox"]:after {
      width: 15px;
      height: 15px;
      top: -2px;
      left: -1px;
      position: relative;
      background-color: #d1d3d1;
      content: "";
      display: inline-block;
      visibility: visible;
      border: 2px solid white;
    }

    input[type="checkbox"]:checked:after {
      width: 15px;
      height: 15px;
      top: -2px;
      left: -1px;
      font-size: 10px;
      font-weight: bold;
      text-align: center;
      position: relative;
      background-color: lightgreen;
      color: $color__basic;
      content: "✔️";
      display: inline-block;
      visibility: visible;
      border: 2px solid white;
    }
    .policy {
      max-width: 450px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      input {
        margin-right: 15px;
      }
    }
    select {
      box-shadow: none;
      background-color: $color__link--hover;
    }
  }
}

@media screen and (min-width: 1000px) {
  .column--joinUs {
    &--joinUs {
      width: 50%;
    }
  }
}
