
#ajaxResponseFail{
    color: #fff;
    background-color: lightcoral;
    border: 1px dashed red;
    font-weight: 900;
    font-size: 16px;
    padding: 5px;
    width: 100%;
    text-align: center;
}

#ajaxResponseSuccess{
    color: #fff;
    background-color: lightgreen;
    border: 1px dashed green;
    font-weight: 900;
    font-size: 16px;
    padding: 5px;
    width: 100%;
    text-align: center;
}

#ajaxResponseSuccess, #ajaxResponseFail{
    display: none;
    margin-top: 10px;
}

#emailValid, #nameValid, #msgValid {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 1rem;
}