
@import './../base/colors';

#ajaxResponseFail{
    color: $color__link;
    background-color: $color-tetiary;
    border: 1px dashed $color-secondary;
    font-weight: 900;
    font-size: 16px;
    padding: 5px;
    width: 100%;
    text-align: center;
}

#ajaxResponseSuccess{
    color: $color__basic;
    background-color: $color__default--special;
    border: 1px dashed $color__default;
    font-weight: 900;
    font-size: 16px;
    padding: 5px;
    width: 100%;
    text-align: center;
}

#ajaxResponseSuccess, #ajaxResponseFail{
    display: none;
    margin-top: 10px;
}

#emailValid, #nameValid, #msgValid {
    display: block;
    text-align: center;
    font-size: .8rem;
}