@import "./../base/colors";
@import "./../base/fonts";

//basic one
$width: 500px;
$cubic: cubic-bezier(0.64, 0.09, 0.08, 1);

form {
  position: relative;
  font-family: $font-family__primary;
  margin: 0 auto;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding: 0 0 40px;
  border-radius: 3px;
  color: $color__default;
  flex-direction: column;
  width: 100%;
  display: flex;
  h3 {
    max-width: 100%;
    background: $color-secondary;
    padding: 20px;
    color: $color__basic;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
    border-radius: 3px 3px 0 0;
  }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    font: inherit;
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out,
      visibility 0.3s ease-in-out;
  }

  input,
  textarea {
    font: inherit;
    font-size: 0.8em;
    margin: 28px 25px 10px;
    max-width: $width;
    display: block;
    border: none;
    padding: 20px 0 10px;
    border-bottom: solid 1px $color-secondary;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 96%,
      $color-secondary 4%
    );
    background-position: -$width 0;
    background-size: $width 100%;
    background-repeat: no-repeat;
    transition: background-color 0.3s $cubic;
    resize: none;
    overflow: hidden;
    &:focus::-webkit-input-placeholder {
      color: $color-secondary;
    }
    &:focus,
    &:valid &:optional {
      box-shadow: none;
      outline: none;
      background-position: 0 0;
      color: $color__default;
      &::-webkit-input-placeholder {
        font-size: 0.8em;
        transform: translateY(-20px);
        visibility: visible !important;
        opacity: 1;
      }
    }
  }
  textarea {
    width: 100%;
  }

  input[type="email"] {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 96%,
      $color-secondary 4%
    );
    background-position: -400px 0;
    background-repeat: no-repeat;
    transition: border-bottom 0.3s ease, background-color 0.3s ease;
    & ~ span.validation-text {
      position: absolute;
      visibility: hidden;
      font-family: "roboto", sans-serif;
      font-size: 0.6em;
      max-width: $width;
      margin-left: 25px;
      margin-top: -5px;
      color: white;
      transition: color 0.3s ease-in-out;
    }
    &:not([value=""]) {
      &::-webkit-input-placeholder {
        font-size: 0.8em;
        transform: translateY(-20px);
        visibility: visible !important;
        opacity: 1;
      }
      &:focus::-webkit-input-placeholder {
        color: $color-secondary;
      }
      &:focus:not(:valid)::-webkit-input-placeholder {
        color: $invalid;
      }
    }
    &:focus {
      background-position: 0 0;
      &:not(:valid):not([value=""]) {
        border-bottom: solid 1px $invalid;
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 96%,
          $invalid 4%
        );
      }
    }
    &:not(:focus):not(:valid):not([value=""]) {
      &::-webkit-input-placeholder {
        color: $invalid;
      }
      border-bottom: solid 1px $invalid;
      background-position: 0 0;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 96%,
        $invalid 4%
      );
      & ~ span.validation-text {
        visibility: visible;
        color: $invalid;
      }
    }
  }
  .flex {
    display: flex;
    align-items: stretch;
    textarea {
      line-height: 120%;
    }
  }
  button {
    font-family: $font-family__primary;
    transition: transform 0.2s $cubic, box-shadow 0.2s $cubic;
    border: none;
    background: $color-secondary;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    margin: 0 auto;
    width: 300px;
    color: white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
    }
  }
  .policy {
    width: 90%;
    overflow-y: scroll;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .policyCheck {
    display: flex;
    flex-direction: row;
    height: 2vh;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    #policy {
      width: fit-content;
      margin: 0 9px 0;
      padding: 0;
    }
    label {
      font-family: $font-family__primary;
      color: $color__default;
      font-size: 13px;
      font-weight: 600;
      flex-basis: 80%;
    }
  }
  input[type="date"]{
   width: 40%;
  }
  input[type="date"]::after{
    content: "受講希望日(必須)";
    position: absolute;
    top: 112px;
    left: 50%;
    color: grey;
  }
}
