//basic one
form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  
  .form-control {
    width: 280px;
    background-color: #fff;
    border: 1px solid;
    outline: none;
    color: #111;
    margin: 0 0 10px 0;
  }
  input {
    height: 50px;
  }

  textarea {
    width: 300px;
    height: 150px;
  }
}