@import "./../base/colors";
@import "./../base/fonts";

//basic one
$width: 400px;
$cubic: cubic-bezier(0.64, 0.09, 0.08, 1);

form {
  position: relative;
  font-family: $font-family__primary;
  margin: 0 auto;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding: 0 0 40px;
  border-radius: 3px;
  color: $color__default;
  flex-direction: column;
  max-width: $width;
  display: flex;
  padding: 15px;
  h3 {
    max-width: 100%;
    background: $color-secondary;
    padding: 20px;
    color: $color__basic;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
    border-radius: 3px 3px 0 0;
  }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    font: inherit;
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out,
      visibility 0.3s ease-in-out;
  }

  input,
  textarea {
    font: inherit;
    font-size: 0.8em;
    margin: 28px 25px 10px;
    max-width: $width;
    display: block;
    border: none;
    padding: 20px 0 10px;
    border-bottom: solid 1px $color-secondary;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 96%,
      $color-secondary 4%
    );
    background-position: -$width 0;
    background-size: $width 100%;
    background-repeat: no-repeat;
    transition: background-color 0.3s $cubic;
    resize: none;
    overflow: hidden;
    &:focus::-webkit-input-placeholder {
      color: $color-secondary;
    }
    &:focus,
    &:valid &:optional {
      box-shadow: none;
      outline: none;
      background-position: 0 0;
      color: $color__default;
      &::-webkit-input-placeholder {
        font-size: 0.8em;
        transform: translateY(-20px);
        visibility: visible !important;
        opacity: 1;
      }
    }
  }
  textarea {
    max-width: 100%;
  }


  button {
    font-family: $font-family__primary;
    transition: transform 0.2s $cubic, box-shadow 0.2s $cubic;
    border: none;
    background: $color-secondary;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    margin: 0 auto;
    width: 300px;
    color: white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
    }
  }
}

html:lang(ja){
  form {
    font-family: $jp__family!important;
  }
}


