html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.foodsStuff {
  display: flex;
  clear: none;
  margin: 0;
  padding: 0 10px;
  width: 300px;
  float: left;
}
.prep {
  list-style: none;
  font-family: "Catamaran";
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: darkgrey;
  margin: 0 auto;
}
b {
  list-style: none;
  font-family: "Catamaran";
  font-size: 16px;
  font-weight: 900;
  line-height: 24px;
  color: #111;
  margin: 0 auto;
}
.recipe {
  list-style: decimal;
  font-family: "Catamaran";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #111;
  margin: 0 20px;
}
l {
  font-family: "Catamaran";
  font-size: 14px;
  font-weight: 100;
  color: grey;
  margin: 0 20px;
  font-style: italic;
}
i {
  font-family: "Catamaran";
  font-size: 14px;
  font-weight: 100;
  color: grey;
  margin: 0 auto;
  padding: 0;
  font-style: italic;
  position: relative;
  top: 0;
}
body {
  line-height: 1;
}
.back {
  color: pink;
  border: none;
  margin: 0 0 15px 0;
  background: none;
}
.back:hover {
  color: rgb(255, 58, 196);
  background: none;
  border: none;
}
.back:active {
  background: pink;
  border: none;
}
.back::before {
  content: "⇦";
}

* {
  text-decoration: none;
}

main {
  padding-top: 100px;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100px;
  z-index: 3;
}
header .header-brand {
  font-family: "Catamaran";
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #111;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}
header .header-brand:hover {
  font-family: "Catamaran";
  font-size: 30px;
  font-weight: 900;
  transition: 0.8s;
  color: pink;
}
header .header-brand:hover::after {
  content: ".website";
  font-size: 9px;
}

header nav ul {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

header nav ul li {
  display: inline-block;
  float: left;
  list-style: none;
  padding: 0 16px;
}

header nav ul li a {
  font-family: "Catamaran";
  font-size: 16px;
  color: rgb(36, 35, 35);
  text-transform: uppercase;
  font-weight: 550;
}
.active,
header nav ul li a:hover {
  color: rgb(255, 0, 119);
  font-weight: 550;
}

header .header-cases {
  display: none;
}
.logo-type img {
  display: block;
  background-image: url(../img/bg/bg2.gif);
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}
.myImg.cosmetics {
  width: 22%;
  float: left;
  padding-right: 10px;
  margin-left: 20px;
}
.myImg.cosmeticsMore {
  width: 380px;
  float: right;
  clear: left;
  padding: 15px;
}
.myImg.cosmeticsLeft {
  width: 350px;
  float: left;
  clear: right;
  padding-right: 8px;
}
.myImg.CosmeticsLast {
  width: 100%;
}
.logo-type a {
  display: absolute;
  font-family: "Catamaran";
  color: pink;
  font-size: 16px;
  text-decoration: solid;
  width: 100%;
  height: auto;
}
.logo-type a:hover {
  font-family: "Catamaran";
  color: rgb(255, 0, 119);
  font-size: 16px;
  text-decoration: solid;
}

@media only screen and (min-width: 1000px) {
  .back {
    color: white;
    border: none;
    background: pink;
    border-radius: 12px;
  }
  .back:hover {
    background: rgb(255, 59, 157);
    border-radius: 12px;
    border: 1px solid rgb(252, 162, 177);
    color: white;
  }
  .back:active {
    border-radius: 12px;
    background: pink;
    border: none;
    border-radius: none;
  }
  .back::before {
    content: "⤾ ";
  }
  header .header-brand {
    margin: 30px 0;
    text-align: left;
    padding: 0px 20px 0px 40px;
    line-height: 38px;
    border-right: 3px solid #111;
    float: left;
  }
  header nav ul {
    margin: 20px 0px 0px 20px;
    float: left;
  }

  header nav ul li a {
    line-height: 60px;
  }

  header .header-cases {
    display: block;
    font-family: "Catamaran";
    font-size: 16px;
    color: #111;
    text-transform: uppercase;
    line-height: 38px;
    border: 1px solid #111;
    float: right;
    margin-right: 40px;
    margin-top: 30px;
    padding: 0 20px;
  }
  header .header-cases:hover {
    background: rgb(255, 0, 119);
    color: white;
  }
  header .header-cases:hover::after {
    content: "♡";
  }
  header .header-cases:hover::before {
    content: "♡";
  }

  .logo-type img {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 50%;
    height: 50%;
  }
}

/*content // blog // traditions*/

.content {
  width: 100%;
  line-height: 30px;
  padding: 16px 0;
}
.content .data {
  color: grey;
  font-style: italic;
  font-size: 12px;
  font-weight: 500;
}
.blog .data {
  color: grey;
  font-style: italic;
  font-size: 12px;
  font-weight: 500;
}
.content .YouTube {
  display: inline;
  margin: 23px 0 0 23px;
}
/* .content img {
  float: left;
  padding: 5px;
  max-width: 50%;
} */
.content .articleIMG {
  float: unset;
  max-width: 65%;
  margin: 0 auto;
}

.source {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.content .articleImgTwo {
  width: 40%;
  padding: 5px;
}
#more {
  display: none;
  width: 100%;
  height: 100%;
}
.articleButton {
  padding: 8px;
  background: pink;
  border: unset;
  border-radius: 20px;
  color: #fff;
  float: right;
}

.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  z-index: 5;
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minimal(300px, 1fr));
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.line {
  border-bottom: 1px outset #f5f2f2;
  padding-bottom: 25px;
  margin: 0 auto;
  width: 500px;
}
@media (max-width: 700px) {
  .content .articleIMG {
    display: flex;
    float: unset;
    max-width: 90%;
    margin: 0 auto;
    justify-items: center;
  }
  .content .articleImgTwo {
    width: 100%;
    padding: 5px;
  }
  .articleButton {
    display: block;
    text-align: center;
    margin: 0 auto;
    float: unset;
    margin-top: 8px;
  }
  .line {
    width: 100%;
  }
  .myImg.cosmetics {
    width: 100%;
    float: unset;
    clear: both;
    padding: 0;
    margin-left: 0;
  }
  .myImg.cosmeticsMore {
    width: 100%;
    float: unset;
    clear: both;
    padding: 0;
  }
  .myImg.cosmeticsLeft {
   width: 100%;
    float: unset;
    clear: both;
    padding: 0;
  }
  .myImg.CosmeticsLast {
    width: 100%;
    float: unset;
    clear: both;
    padding: 0;
  }
  .modal-content{
    width: 100%;
  }
}
/* contact */
textarea {
  width: 300px;
  height: 150px;
}
label {
  font-family: "Catamaran";
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  color: #111;
  margin: 0 20px 0;
  padding: 0;
}

form {
  margin: 0 auto;
  padding: 0;
  display: block;
  float: left;
}
.form-control {
  width: 280px;
  background: #fff;
  border: 1px solid;
  outline: none;
  color: #111;
  margin: 0 0 0 15px;
}
.form-control-s {
  width: 200px;
  background: #fff;
  border: 1px solid;
  outline: none;
  color: #111;
  margin: 0 0 0 15px;
}
input {
  height: 45px;
}
form .submit {
  background: pink;
  border-color: transparent;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
  margin: 20px auto;
  margin-left: 15px;
  text-align: center !important;
}
form .submit-2 {
  background: pink;
  border-color: transparent;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
  margin: 0 auto;
  text-align: center !important;
}

form .submit:hover {
  background: rgb(255, 48, 162);
}
form .submit-2:hover {
  background: rgb(255, 48, 162);
}

.about_info {
  display: block;
  margin: 0 auto;
  padding: 0 auto;
}
.about_info p {
  font-family: "Catamaran";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #111;
  margin: 0 20px;
}
.about_info img {
  height: 50%;
  width: 50%;
  display: block;
  float: right;
  margin: 0 10px 0 0;
  padding: 0 auto;
  overflow: hidden;
  z-index: -1;
}
.about_info a {
  font-family: "Catamaran";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: pink;
  margin: 0 0 0 8px;
}
.about_info a:hover {
  font-family: "Catamaran";
  color: rgb(255, 0, 119);
  text-decoration: solid;
}

/*dictionary*/
.dictionary h2 {
  padding-bottom: 10px;
}
.dictionary .say {
  color: #fff;
  background: pink;
  border-radius: 10px;
  padding: 5px;
  margin: 0 10px 0;
  line-height: 50px;
}
.dictionary .say:hover {
  color: white;
  background: rgb(255, 60, 151);
}
.dictionary {
  text-align: center;
  display: block;
  margin: 10px 0;
}
.dictionary input[type="text"] {
  height: 25px;
  color: #111;
}
.dictionary .result {
  padding: 8px;
}
.dictionary .check {
  display: inline-block;
  color: #111;
  font-weight: 800;
  font-size: 22px;
  padding-bottom: 5px;
}
.dictionary .result {
  font-family: "Cormorant";
  font-size: 14px;
  font-weight: 500;
}
/*about*/
html {
  box-sizing: border-box;
}

.footer-about {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
.column {
  float: left;
  width: 32%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}
.card img {
  display: block !important;
  width: 80% !important;
  margin: 0 auto;
  border-radius: 100% !important;
  padding: 15px;
}

strong {
  font-weight: 900;
  font-size: 20px;
  font-family: "Cormorant";
  text-align: center;
  margin: 5px;
}
.lesson .unit {
  font-size: 25px;
  font-family: "Cormorant";
  font-weight: 900;
  text-align: center;
}

.container {
  padding: 0 16px;
}

.myContainer {
  width: 100%;
  padding: 0 0 15px 0;
}

.container::after,
.row::after {
  content: ".";
  color: white;
  clear: both;
  display: table;
}

.container .title {
  font-weight: 0;
  color: grey;
  font-family: "Catamaran";
  font-size: 13px;
  font-weight: 500;
  line-height: 10px;
  font-style: italic;
}
#data {
  font-weight: 0;
  color: grey;
  font-family: "Catamaran";
  font-size: 13px;
  font-weight: 500;
  line-height: 10px;
  font-style: italic;
  margin: 0 10px 0;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.button-2 {
  -webkit-appearance: none;
  font-size: 12px;
  font-weight: normal;
  background: var(--lightaccentcolor);
  border-radius: 12px;
  border: 2px solid var(--accentcolor);
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  cursor: pointer;
  border: none;
  outline: 0;
  display: inline-block;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
button:hover {
  color: var(--reversecolor);
  background: grey;
}

@media screen and (max-width: 650px) {
  .column {
    width: 97%;
    display: block;
  }
  .foodsStuff {
    width: 100%;
    padding: 0 0 15px 0;
  }

  div .newsIMG {
    float: unset !important;
    width: 89% !important;
    margin: 0 auto;
  }
  .lineNews {
    width: 100% !important;
    height: 100%;
  }
  table,
  th,
  td {
    border: 1px solid black !important;
    border-collapse: collapse;
  }
  th,
  td {
    padding: 5px;
    text-align: left;
  }
}
/*index*/

.index-banner {
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url(../img/bg/header-banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}
.vertical-center {
  display: table-cell;
  vertical-align: middle;
}

.index-banner h2 {
  font-family: "Catamaran";
  font-size: 60px;
  font-weight: 900;
  line-height: 70px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 8px #111;
}

.index-banner h1 {
  font-family: "Cormorant garamond";
  font-size: 28px;
  font-weight: 100;
  font-style: italic;
  line-height: 40px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 8px #111;
}

/*stuff banners*/

.index-links div {
  margin: 16px 16px 0;
  width: calc(100% - 32x);
  height: 100px;
  background-color: #f2f2f2;
}
.index-links div {
  margin: 16px 16px 0;
  width: calc(100% - 32x);
  height: 100px;
  background-color: #f2f2f2;
}
.index-links div h3 {
  font-family: "Catamaran";
  font-size: 28px;
  font-weight: 600;
  line-height: 100px;
  color: #fff;
  text-shadow: 4px 4px 8px #111;
  text-align: center;
  text-transform: uppercase;
}

.index-boxlink-square-foods {
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  display: block;
  background-image: url(../img/foods/mainDish/pierogi_thumb2.jpg);
}
.index-boxlink-square-trad {
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  display: block;
  background-image: url(../img/embl/trad.jpg);
}
.index-boxlink-square-dictionary {
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  display: block;
  background-image: url(../img/embl/dictionary.jpg);
}
.index-boxlink-square-mgames {
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  display: block;
  background-image: url(../img/embl/games.jpeg);
}
.index-boxlink-rectangle-cur {
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  background-image: url(../img/embl/warsaw_wisla-emb.jpg);
}
.index-boxlink-rectangle-media {
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  background-image: url(../img/embl/media.jpg);
}
.index-boxlink-rectangle-beauty {
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  background-image: url(../img/embl/beauty.jpg);
}
.index-boxlink-square-dialog {
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  display: block;
  background-image: url(../img/embl/dialog.jpg);
}
.index-boxlink-square-ort {
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  display: block;
  background-image: url(../img/embl/ort.jpg);
}
@media only screen and (min-width: 1000px) {
  .content .YouTube {
    display: block;
    margin: 23px 0 0 23px;
    width: 100%;
    height: 350px;
  }
  .wrapper {
    width: 1000px;
    margin: 0 auto;
  }
  .index-banner {
    height: 460px;
  }
  .index-banner h1 {
    display: block;
    width: 560px;
    margin: 0 auto;
  }
  .index-links {
    padding-bottom: 20px;
    overflow: hidden;
  }
  .index-links div {
    margin: 20px 10px 0;
    height: 230px;
    background-color: #f2f2f2;
    float: left;
  }

  .index-boxlink-square-foods {
    width: calc(25% - 20px) !important;
    display: block;
    background-image: url(../img/foods/mainDish/pierogi_thumb2.jpg);
  }
  .index-boxlink-square-trad {
    width: calc(25% - 20px) !important;
    display: block;
    background-image: url(../img/embl/trad.jpg);
  }
  .index-boxlink-square-dictionary {
    width: calc(25% - 20px) !important;
    display: block;
    background-image: url(../img/embl/dictionary.jpg);
  }
  .index-boxlink-square-mgames {
    width: calc(25% - 20px) !important;
    display: block;
    background-image: url(../img/embl/games.jpeg);
  }
  .index-boxlink-rectangle-cur {
    width: calc(50% - 20px) !important;
    background-image: url(../img/embl/warsaw_wisla-emb.jpg);
  }
  .index-boxlink-rectangle-media {
    width: calc(50% - 20px) !important;
    background-image: url(../img/embl/media.jpg);
  }
  .index-boxlink-square-dialog {
    width: calc(25% - 20px) !important;
    display: block;
    background-image: url(../img/embl/dialog.jpg);
  }
  .index-boxlink-rectangle-beauty {
    width: calc(50% - 20px) !important;
    background-image: url(../img/embl/beauty.jpg);
  }
  .index-boxlink-square-ort {
    width: calc(25% - 20px) !important;
    display: block;
    background-image: url(../img/embl/ort.jpg);
  }
  .index-links div h3 {
    line-height: 230px;
    color: #fff;
    text-shadow: 4px 4px 8px #111;
    font-weight: 900;
  }

  .about_info img {
    height: 30%;
    width: 30%;
    display: block;
    float: right;
    margin: 0 10px 0 0;
    padding: 0 auto;
    overflow: hidden;
    z-index: -1;
  }
}
/*Dialogue*/

table,
th,
td {
  border: 1px solid black !important;
  border-collapse: collapse;
}
th,
td {
  padding: 5px;
  text-align: left;
}
/*news page*/
.sign {
  text-align: center;
  display: block;
}
#sign {
  color: grey;
  font-size: 12px;
  font-weight: 500;
  font-family: "Cormorant Garamond";
}
.sign a {
  font-size: 12px !important;
  font-weight: 500;
}
#news {
  width: 100%;
  height: fit-content;
}
div .newsIMG {
  display: flex;
  float: right;
  width: 30%;
  padding: 0 0 8px 0;
  clear: both;
}
#newsText {
  float: left;
}
.myImg.pizza {
  width: 25%;
  margin-left: 20px;
  padding-right: 10px!important;
  float: left;
}
.myImg.pizzaEmbl {
  width: 180px;
  float: right !important;
  margin-left: 20px;
  padding-right: 8px;
}
.myImg.pizzaEmbl.small {
  width: 150px;
  float: left !important;
  margin-left: 20px;
  padding-right: 8px;
}
.myImg.zapiekanka {
  float: left !important;
  width: 180px;
  margin-left: 20px;
  padding-right: 8px;
}
.content h3{
  font-family: "Catamaran";
  font-size: 28px;
  font-weight: 600;
  color: #111;
  text-transform: uppercase;
  padding-bottom: 20px;
  margin: 0 auto;
  text-align: center;
}
@media only screen and (max-width: 700px) {
.myImg.pizza {
  width: 100%;
  margin: 0;
  padding: 0;
  float: unset;
}
.myImg.pizzaEmbl {
  width: 100%;
  margin: 0;
  padding: 0;
  float: unset;
}
.myImg.pizzaEmbl.small {
  width: 100%;
  margin: 0;
  padding: 0;
  float: unset;
}
.myImg.zapiekanka {
  width: 100%;
  margin: 0;
  padding: 0;
  float: unset;
}
.content h3{
  font-family: "Catamaran";
  font-size: 28px;
  font-weight: 600;
  color: #111;
  text-transform: uppercase;
  padding-bottom: 20px;
}
}
.lineNews {
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid black;
}
/*CASES*/
.cases-links {
  overflow: hidden;
  margin-bottom: 20px;
}
.cases-links h2 {
  font-family: "Catamaran";
  font-size: 28px;
  font-weight: 600;
  color: #111;
  text-transform: uppercase;
  text-align: center;
}
/*videos*/

.case-vid h2 {
  font-family: "Catamaran";
  font-size: 28px;
  font-weight: 600;
  color: #111;
  text-align: center;
  text-transform: uppercase;
}

.case-vid video {
  display: block;
  margin: 0 auto;
  padding: 30px 0;
}
.case-vid article h3 {
  font-family: "Catamaran";
  font-size: 28px;
  font-weight: 600;
  color: #111;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.case-vid article p {
  font-family: "Catamaran";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #111;
  column-count: 3;
  column-gap: 30px;
}
/*LESSONS STYLE*/

.alphabetLesson {
  max-width: 20px;
  display: inline;
  margin: 0 auto;
  padding: 0;
  clear: both;
  position: relative;
  white-space: normal;
  padding-right: 5px;
  padding-left: 5px;
  z-index: 1;
}

a {
  font-family: "Catamaran";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: pink;
  margin: 0 auto;
  font-size: 16px;
  font-weight: bold;
}
a:hover {
  font-family: "Catamaran";
  color: rgb(255, 0, 119);
  font-size: 16px;
  font-weight: bold;
}
.accordion {
  background-color: none;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 28px;
  transition: 0.4s;
  margin: 1px;
  background-image: url(../img/embl/alphabet.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-shadow: 2px 2px 8px #111;
  text-align: center;
}
.dialogue {
  background-color: none;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 28px;
  transition: 0.4s;
  margin: 1px;
  background-image: url(../img/embl/dialogue.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-shadow: 2px 2px 8px #111;
  text-align: center;
}
.dialogue2 {
  background-color: none;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 28px;
  transition: 0.4s;
  margin: 1px;
  background-image: url(../img/embl/dialogue2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-shadow: 2px 2px 8px #111;
  text-align: center;
}

.dialogue:hover {
  background-color: none;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 28px;
  transition: 0.4s;
  margin: 1px;
  background-image: url(../img/embl/dialogue.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-shadow: 2px 2px 8px #111;
  text-align: center;
}

.dialogue2:hover {
  background-color: none;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 28px;
  transition: 0.4s;
  margin: 1px;
  background-image: url(../img/embl/dialogue2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-shadow: 2px 2px 8px #111;
  text-align: center;
}

.accordion-2 {
  background-color: none;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 28px;
  transition: 0.4s;
  margin: 1px;
  background-image: url(../img/embl/pronunciation.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-shadow: 2px 2px 8px #111;
  text-align: center;
}

.accordion-3 {
  background-color: none;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 28px;
  transition: 0.4s;
  margin: 1px;
  background-image: url(../img/embl/cases.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-shadow: 2px 2px 8px #111;
  text-align: center;
}

.accordion-4 {
  background-color: none;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 28px;
  transition: 0.4s;
  margin: 1px;
  background-image: url(../img/embl/lessons.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-shadow: 2px 2px 8px #111;
  text-align: center;
}

.accordion:hover {
  background-color: none;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 28px;
  transition: 0.4s;
  margin: 1px;
  background-image: url(../img/embl/alphabet.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-shadow: 2px 2px 8px #111;
  text-align: center;
}

.accordion-2:hover {
  background-color: none;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 28px;
  transition: 0.4s;
  margin: 1px;
  background-image: url(../img/embl/pronunciation.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-shadow: 2px 2px 8px #111;
  text-align: center;
}

.accordion-3:hover {
  background-color: none;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 28px;
  transition: 0.4s;
  margin: 1px;
  background-image: url(../img/embl/cases.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-shadow: 2px 2px 8px #111;
  text-align: center;
}

.accordion-4:hover {
  background-color: none;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 28px;
  transition: 0.4s;
  margin: 1px;
  background-image: url(../img/embl/lessons.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-shadow: 2px 2px 8px #111;
  text-align: center;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  line-height: 50px;
}
/*Media*/

.buttonMusic {
  background-color: none;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 28px;
  transition: 0.4s;
  margin: 1px;
  background-image: url(../img/media/music.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-shadow: 2px 2px 8px #111;
  text-align: center;
}
.buttonMusic:hover {
  background-color: none;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 28px;
  transition: 0.4s;
  margin: 1px;
  background-image: url(../img/media/music.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-shadow: 2px 2px 8px #111;
  text-align: center;
}

.buttonMovies {
  background-color: none;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 28px;
  transition: 0.4s;
  margin: 1px;
  background-image: url(../img/media/movies.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-shadow: 2px 2px 8px #111;
  text-align: center;
}
.buttonMovies:hover {
  background-color: none;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 28px;
  transition: 0.4s;
  margin: 1px;
  background-image: url(../img/media/movies.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-shadow: 2px 2px 8px #111;
  text-align: center;
}
.buttonGames {
  background-color: none;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 28px;
  transition: 0.4s;
  margin: 1px;
  background-image: url(../img/media/games.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-shadow: 2px 2px 8px #111;
  text-align: center;
}
.buttonGames:hover {
  background-color: none;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 28px;
  transition: 0.4s;
  margin: 1px;
  background-image: url(../img/media/games.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-shadow: 2px 2px 8px #111;
  text-align: center;
}

.buttonSeries {
  background-color: none;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 28px;
  transition: 0.4s;
  margin: 1px;
  background-image: url(../img/media/series.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-shadow: 2px 2px 8px #111;
  text-align: center;
}

.buttonSeries:hover {
  background-color: none;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 28px;
  transition: 0.4s;
  margin: 1px;
  background-image: url(../img/media/series.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-shadow: 2px 2px 8px #111;
  text-align: center;
}

.lesson h2 {
  font-family: "Catamaran";
  font-size: 28px;
  font-weight: 600;
  color: #111;
  text-align: center;
  text-transform: uppercase;
}
.lesson h1 {
  font-family: "Catamaran";
  font-size: 40px;
  font-weight: 600;
  color: #111;
  text-align: center;
  text-transform: uppercase;
}
h2 {
  font-family: "Catamaran";
  font-size: 28px;
  font-weight: 600;
  color: #111;
  text-align: center;
  text-transform: uppercase;
}
h1 {
  font-family: "Catamaran";
  font-size: 40px;
  font-weight: 600;
  color: #111;
  text-align: center;
  text-transform: uppercase;
}
.lesson video {
  display: block;
  margin: 0 auto;
  padding: 30px 0;
  width: 100%;
  height: 100%;
}
.lesson article h3 {
  font-family: "Catamaran";
  font-size: 28px;
  font-weight: 600;
  color: #111;
  text-transform: uppercase;
  padding-bottom: 15x;
  margin: 0 0 0 7px;
}
h3 {
  font-family: "Catamaran";
  font-size: 28px;
  font-weight: 600;
  color: #111;
  text-transform: uppercase;
  padding-bottom: 15x;
  margin: 0 0 0 7px;
}

.lesson article p {
  font-family: "Catamaran";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #111;
  margin: 0 20px;
}

.lesson article p {
  font-family: "Catamaran";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #111;
  margin: 0 20px;
}
.lesson article h1 {
  font-family: "Catamaran";
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  color: #111;
}
p {
  font-family: "Catamaran";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #111;
  margin: 0 20px;
}
.panel p {
  font-family: "Catamaran";
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  color: #111;
}
.panel h3 {
  font-family: "Catamaran";
  font-size: 28px;
  font-weight: 600;
  color: #111;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.panel h1 {
  font-family: "Catamaran";
  font-size: 45px;
  font-weight: 600;
  color: #111;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.panel h2 {
  font-family: "Catamaran";
  font-size: 30px;
  font-weight: 600;
  color: #111;
  text-transform: uppercase;
  padding-bottom: 20px;
}

/*show more*/

#textarea {
  display: none;
}

#textarea:target {
  display: block;
}

#textarea + ul.controls {
  list-style-type: none;
}

#textarea + ul.controls .hide,
#textarea:target + ul.controls .show {
  display: none;
}

#textarea:target + ul.controls .hide,
#textarea + ul.controls .show {
  display: inline-block;
}

#textarea-2 {
  display: none;
}

#textarea-2:target {
  display: block;
}

#textarea-2 + ul.controls {
  list-style-type: none;
}

#textarea-2 + ul.controls .hide,
#textarea-2:target + ul.controls .show {
  display: none;
}

#textarea-2:target + ul.controls .hide,
#textarea-2 + ul.controls .show {
  display: inline-block;
}

#textarea-3 {
  display: none;
}

#textarea-3:target {
  display: block;
}

#textarea-3 + ul.controls {
  list-style-type: none;
}
#textarea-3 + ul.controls .hide,
#textarea-3:target + ul.controls .show {
  display: none;
}

#textarea-3:target + ul.controls .hide,
#textarea-3 + ul.controls .show {
  display: inline-block;
}

ul.controls a {
  background-color: pink;
  color: white;
  border-radius: 10px;
  padding: 3px;
  font-size: 13px;
  display: block;
  margin-top: 25px;
  margin-left: 7px;
}
ul.controls a:hover {
  color: white;
  border-radius: 10px;
  padding: 3px;
  background: rgb(255, 60, 151);
  font-size: 13px;
}

.lesson .witcher {
  display: block;
  width: 85%;
  height: 85%;
  margin: 20px auto;
  text-align: center;
}
.lesson .dyingLight {
  display: block;
  width: 85%;
  height: 85%;
  margin: 20px auto;
  text-align: center;
}

.lesson .callOfJuarez {
  display: block;
  width: 85%;
  height: 85%;
  margin: 20px auto;
  text-align: center;
}

.lesson .shadowWarrior {
  display: block;
  width: 85%;
  height: 85%;
  margin: 20px auto;
  text-align: center;
}

/*category*/

.filterDiv {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  float: left;
  color: #111;
  text-align: left;
  display: none;
  transition: 0.4s;
  margin: 1px;
}
#sernik-krolewski {
  font-family: "Catamaran";
  font-weight: bold;
  background: url(../img/foods/dsrt/sernik-z-kruszonka_thumb.jpg);
  background-color: none;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 27px;
  transition: 0.4s;
  margin: 1px;
  background-repeat: no-repeat;
  background-size: 100%;
  text-shadow: 2px 2px 8px #111;
  text-align: center;
}
#schabowy-z-ziemniakami {
  font-family: "Catamaran";
  font-weight: bold;
  background: url(../img/foods/mainDish/schabowy-z-ziemniakami_thumb.jpg);
  background-color: none;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 26px;
  transition: 0.4s;
  margin: 1px;
  background-repeat: no-repeat;
  background-size: 100%;
  text-shadow: 2px 2px 8px #111;
  text-align: center;
}
#jajka-w-majonezie {
  font-family: "Catamaran";
  font-weight: bold;
  background: url(../img/foods/app/jajka-w-majonezie_thumb.jpg);
  background-color: none;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 28px;
  transition: 0.4s;
  margin: 1px;
  background-repeat: no-repeat;
  background-size: 100%;
  text-shadow: 2px 2px 8px #111;
  text-align: center;
}

#zurek {
  font-family: "Catamaran";
  font-weight: bold;
  background: url(../img/foods/soup/zurek_thumb.jpg);
  background-color: none;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 28px;
  transition: 0.4s;
  margin: 1px;
  background-repeat: no-repeat;
  background-size: 100%;
  text-shadow: 2px 2px 8px #111;
  text-align: center;
}
#pierogi {
  font-family: "Catamaran";
  font-weight: bold;
  background: url(../img/foods/mainDish/pierogi_thumb.jpg);
  background-color: none;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 28px;
  transition: 0.4s;
  margin: 1px;
  background-repeat: no-repeat;
  background-size: 100%;
  text-shadow: 2px 2px 8px #111;
  text-align: center;
}
#golabki {
  font-family: "Catamaran";
  font-weight: bold;
  background: url(../img/foods/mainDish/golabki_thumb.jpg);
  background-color: none;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 28px;
  transition: 0.4s;
  margin: 1px;
  background-repeat: no-repeat;
  background-size: 100%;
  text-shadow: 2px 2px 8px #111;
  text-align: center;
}
#nalesniki {
  font-family: "Catamaran";
  font-weight: bold;
  background: url(../img/foods/dsrt/nalesniki_thumb.jpg);
  background-color: none;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 28px;
  transition: 0.4s;
  margin: 1px;
  background-repeat: no-repeat;
  background-size: 100%;
  text-shadow: 2px 2px 8px #111;
  text-align: center;
}
.active,
.filterDiv:hover {
  background-color: #ccc;
}
.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  margin: 3px 0;
  -webkit-appearance: none;
  border-radius: 12px;
  cursor: pointer;
  padding: 12px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

/*footer*/
select {
  box-shadow: 0 10px 25px #111;
  background: #4d5061;
  color: #fff;
  border: 0;
  padding: 0.5em 2em 0.5em 1em;
}
.custom-select {
  position: relative;
}
.custom-arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: #3b3c47;
  height: 100%;
  width: 1.5rem;
  pointer-events: none;
}
.custom-arrow::before,
.custom-arrow::after {
  --size: 0.4em;
  --color: rgba(255, 255, 255, 0.5);
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.custom-arrow::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid var(--color);
  top: 30%;
}
.custom-arrow::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid var(--color);
  top: 65%;
}
.language {
  display: inline-block;
  width: fit-content;
  color: #fff;
  font-weight: 500;
  font-family: "Catamaran" !important;
  margin-bottom: 5px;
}

.language {
  display: inline-block;
  width: fit-content;
  color: #fff;
  font-weight: 500;
  font-family: "Catamaran" !important;
}
.footer-links-cases {
  display: inline-block;
  position: relative;
  padding: 0 auto;
  margin: 0 auto;
  text-align: center;
  clear: none;
  right: 0;
  top: 0;
  width: fit-content;
}
footer {
  width: calc(100% - 80px);
  padding: 40px 40px;
  margin-top: 20px;
  background-color: #111;
  overflow: hidden;
}
footer ul {
  width: fit-content;
  float: left;
  padding-left: 20px;
}
footer ul li {
  display: block;
  list-style: none;
}
footer ul li a {
  font-family: "Catamaran";
  font-size: 16px;
  color: #fff;
  line-height: 40px;
}
footer ul li a:hover {
  color: rgb(255, 0, 119);
}
footer ul li p {
  font-family: "Catamaran";
  font-size: 16px;
  color: #fff;
  line-height: 40px;
  text-transform: uppercase;
}
.footer-sm {
  width: 50px;
  float: right;
}
.footer-sm img {
  width: 100%;
  margin-bottom: 10px;
}

@media only screen and (min-width: 1000px) {
  .footer-links-cases {
    display: block;
    padding: 0px 0px 0px;
  }
  footer ul li p {
    font-family: "Catamaran";
    font-size: 16px;
    color: #fff;
    line-height: 40px;
    text-transform: uppercase;
  }
  footer ul {
    padding-right: 30px;
  }
}

@media (max-width: 750px) {
  .panel p {
    margin: 0 !important;
  }
}
