$color__default: #554149; //used as a basic color
$color__link--hover: #B98196; //used as a link-hover color and buttons
$color__link:#DE0085; //use to links only
$color__basic:#ffff; //base color for backgrounds etc
$color__default--special: #008F86; //base for *note and so on anttentional informations (recpies, lessons etc)