$color__default: #54424B; //used as a basic color
$color__link--hover: #FFBCC7; //used as a link-hover color and buttons
$color__link: #FF7FCB; //use to links only
$color__basic: #fff; //base color for backgrounds etc
$color__default--special: #A06586; //base for *note and so on anttentional informations (recpies, lessons etc)