$color__default: rgb(22, 22, 22); //used as a basic color
$color__link--hover: rgb(255, 0, 119); //used as a link-hover color and buttons
$color__link: rgb(255, 188, 199); //use to links only
$color__basic: #fff; //base color for backgrounds etc
$color__default--special: rgb(165, 156, 156); //base for *note and so on anttentional informations (recpies, lessons etc)