//Global

.inline__paragraf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  p {
    margin-right: 10px;
  }
}

//Lessons

// noun genders lesson

.redLetter{
  color:#FE9A68;
}

.lesson--nounGrammaticalGender.active + .panel > p {
  display: none;
}

//adjectives lesson

.lesson.lesson--adj + .panel > i:nth-last-child(3) {
  margin-top: 25px;
}
