//Global

.inline__paragraf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  p {
    margin-right: 10px;
  }
}

//Lessons

//adjectives lesson

.lesson--adj.active {
  i:nth-last-child(3){
    margin-top: 25px;
  }
}
