//Global

.inline__paragraf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  p {
    margin-right: 10px;
  }
}

//Lessons

//adjectives lesson

.lesson.lesson--adj + .panel > i:nth-child(4) {
    display: none;
  }

  .lesson.lesson--adj + .panel > i:nth-child(5) {
    display: none;
  }

  .lesson.lesson--adj + .panel > i:nth-child(6) {
    display: none;
  }