//Global

.inline__paragraf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  p {
    margin-right: 10px;
  }
}

//Lessons

//adjectives lesson

.lesson.lesson--adj.active {
  & > .panel i{
    display: none;
  }
}
