//Global

.inline__paragraf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  p {
    margin-right: 10px;
  }
}

//Lessons

//adjectives lesson

.lesson--adj.active {
  & > i:nth-last-child(2){
    margin-top: 25px;
  }
}
