//font-family
$font-family__primary: "Catamaran", fallback, sans-serif; //used to every kinds of text in website
$font-family__secondary: "Cormorant garamond", fallback, sans-serif; //used to every special kinds of text in website
$font-family__tertiary: "Cormorant", fallback, sans-serif;
$ff-polish: ;

//japanese
$jp__family: "Noto Sans JP", fallback, sans-serif; //used in Japanese part website

//size
$font-size__default: 16px; //use to all p, b
$font-size__small: 12px; //use to all i, special fonts like notes in website
$font-size__huge: 60px; // use to banners text or special heading
$font-size__large: 40px; //for every heading and special text
$font-size__medium: 28px; //used to lessons.

//FONTS!!

//EN
/* catamaran-regular - latin */
@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local(''),
         url('../fonts/catamaran-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/catamaran-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* catamaran-500 - latin */
  @font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: local(''),
         url('../fonts/catamaran-v7-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/catamaran-v7-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* catamaran-600 - latin */
  @font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: local(''),
         url('../fonts/catamaran-v7-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/catamaran-v7-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* catamaran-800 - latin */
  @font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-display: swap;
    font-weight: 800;
    src: local(''),
         url('../fonts/catamaran-v7-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/catamaran-v7-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* catamaran-900 - latin */
  @font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-display: swap;
    font-weight: 900;
    src: local(''),
         url('../fonts/catamaran-v7-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/catamaran-v7-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }


  /* cormorant-garamond-regular - latin */
@font-face {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local('Cormorant Garamond Regular'), local('CormorantGaramond-Regular'),
         url('../fonts/cormorant-garamond-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/cormorant-garamond-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* cormorant-garamond-italic - latin */
  @font-face {
    font-family: 'Cormorant Garamond';
    font-style: italic;
    font-display: swap;
    font-weight: 400;
    src: local('Cormorant Garamond Italic'), local('CormorantGaramond-Italic'),
         url('../fonts/cormorant-garamond-v8-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/cormorant-garamond-v8-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* cormorant-garamond-700 - latin */
  @font-face {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: local('Cormorant Garamond Bold'), local('CormorantGaramond-Bold'),
         url('../fonts/cormorant-garamond-v8-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/cormorant-garamond-v8-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* cormorant-garamond-700italic - latin */
  @font-face {
    font-family: 'Cormorant Garamond';
    font-style: italic;
    font-display: swap;
    font-weight: 700;
    src: local('Cormorant Garamond Bold Italic'), local('CormorantGaramond-BoldItalic'),
         url('../fonts/cormorant-garamond-v8-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/cormorant-garamond-v8-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

//JP
/* noto-sans-jp-100 - latin_japanese */
@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-display: swap;
    font-weight: 100;
    src: local('Noto Sans Japanese Thin'), local('NotoSansJapanese-Thin'),
         url('./../fonts/noto-sans-jp-v27-latin_japanese-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./../fonts/noto-sans-jp-v27-latin_japanese-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* noto-sans-jp-regular - latin_japanese */
  @font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local('Noto Sans Japanese Regular'), local('NotoSansJapanese-Regular'),
         url('./../fonts/noto-sans-jp-v27-latin_japanese-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./../fonts/noto-sans-jp-v27-latin_japanese-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* noto-sans-jp-500 - latin_japanese */
  @font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: local('Noto Sans Japanese Medium'), local('NotoSansJapanese-Medium'),
         url('./../fonts/noto-sans-jp-v27-latin_japanese-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./../fonts/noto-sans-jp-v27-latin_japanese-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* noto-sans-jp-700 - latin_japanese */
  @font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: local('Noto Sans Japanese Bold'), local('NotoSansJapanese-Bold'),
         url('./../fonts/noto-sans-jp-v27-latin_japanese-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./../fonts/noto-sans-jp-v27-latin_japanese-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* noto-sans-jp-900 - latin_japanese */
  @font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-display: swap;
    font-weight: 900;
    src: local('Noto Sans Japanese Black'), local('NotoSansJapanese-Black'),
         url('./../fonts/noto-sans-jp-v27-latin_japanese-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./../fonts/noto-sans-jp-v27-latin_japanese-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  //Polish
/* catamaran-regular - latin-ext */
@font-face {
     display: swap;
     font-family: 'Catamaran--Polish';
     font-style: normal;
     font-weight: 400;
     src: local(''),
          url('../fonts/catamaran-v7-latin-ext-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../fonts/catamaran-v7-latin-ext-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }