.prep {
    list-style: none;
    font-family: "Catamaran";
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: darkgrey;
    margin: 0 auto;
  }
  .recipe {
    list-style: decimal;
    font-family: "Catamaran";
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #111;
    margin: 0 20px;
  }

.noun-gender {
  list-style: decimal;
  font-family: "Catamaran";
  margin: 10px;
}