@import './../base/colors';
@import './../base/fonts';

header{
.hamburger {
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 25px;
  transform: translate(-5%, -50%);
  z-index: 2;
}
.bar {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: .4s;
}
.nav-list {
  position: fixed;
  background: pink;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  clip-path: circle(100px at 90% -10%);
  -webkit-clip-path: circle(100px at 90% -10%);
  transition: all 1s ease-out;
  pointer-events: none;
  top: 0px;
}
.nav-list.open {
  clip-path: circle(1000px at 90% -10%);
  -webkit-clip-path: circle(1000px at 90% -10%);
  pointer-events: all;
}
.landing {
  flex-direction: column;
}
.nav-list li {
  opacity: 0;
}
.nav-links {
  display: block;
  font-size: 25px;
  color: #fff;
  line-height: 0;
  margin-top: 78px;
  text-align: center;
}

.nav-links:hover {
  display: block;
  font-size: 25px;
  color: #111;
  line-height: 0;
  margin-top: 78px;
  text-align: center;
}
.nav li:nth-child(1) {
  transition: all .5s ease .2s;
}
.nav li:nth-child(2) {
  transition: all .5s ease .4s;
}
.nav li:nth-child(3) {
  transition: all .5s ease .6s;
}
li.fade {
  opacity: 1;
}
}
.nav__desktop, .header-cases{
  display: none;
}

@media screen and (min-width: 1000px){
  .hamburger{
    display: none;
  }
  nav{
    .nav__desktop{
      display: flex;
      align-items: center;
      height: 75px;
      justify-content: flex-start;
      width: fit-content;
      padding-left: 10px;
    }
    .nav__desktop li{
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      list-style: none;
      padding: 0 16px;
    }
    .nav__desktop li a{
      font-family: "Catamaran";
      font-size: 16px;
      color: rgb(36, 35, 35);
      text-transform: uppercase;
      font-weight: 550;
      transition: color .5s ease-in;
    &:hover {
      color: rgb(255, 0, 119);
      font-weight: 550;
      font-weight: 600;
    }
  }
      .header-cases {
        display: block;
        font-family: "Catamaran";
        font-size: 16px;
        color: #111;
        text-transform: uppercase;
        line-height: 38px;
        border: 1px solid #111;
        float: right;
        margin-right: 40px;
        padding: 0 20px;
        font-weight: 400;
        position: relative;
        top: -55px;
        transition: background-color .8s, color .8s;
      &:hover {
      background-color: rgb(255, 0, 119);
      color: white;
    }
     &:hover::after {
      content: "♡";
    }
    &:hover::before {
      content: "♡";
    }
  }
}
  .nav-list{
    display: none;
}
}

//jp
html:lang(ja){
  .nav-links, .nav{
    font-family: $jp__family;
  }
}