@import "./../base/colors";
@import "./../base/fonts";
@import "./../modules/mixin";

//lessns

.lesson {
  .lesson {
    @include panel;
  }
  .lesson--alphabet {
    background-image: url(./../../img/embl/alphabet.jpg);
  }
  .lesson--declension {
    background-image: url(./../../img/embl/cases.jpg);
  }
  .lesson--wordOrder {
    background-image: url(./../../img/embl/wordOrder.jpg);
  }
  .lesson--adj {
    background-image: url(./../../img/embl/adj.jpg);
  }
  .lesson--nounGender {
    background-image: url(./../../img/embl/n-g-g.jpg);
  }
  .lesson--to-be {
    background-image: url(./../../img/embl/to-be.jpg);
  }
  .lesson--polish-idioms {
    background-image: url(./../../img/embl/polishIdioms.jpg);
  }
  .lesson--testUnit0 {
    background-image: url(./../../img/embl/testUnit0.jpg);
  }
}

//dialgues

.dialogue {
  .dialogue {
    @include panel;
  }
  .dialogue-polish__conversation {
    background-image: url(./../../img/embl/dialogue.jpg);
  }
  .dialogue-first__meting {
    background-image: url(./../../img/embl/dialogue2.jpg);
  }
  .dialogue-grocery__shoping {
    background-image: url(./../../img/embl/dial-grocery.jpg);
  }
}

//foods
#sernik-krolewski {
  @include panel;
  background: url(./../../img/foods/dsrt/sernik-z-kruszonka_thumb.jpg);
}
#schabowy-z-ziemniakami {
  @include panel;
  background: url(./../../img/foods/mainDish/schabowy-z-ziemniakami_thumb.jpg);
}
#jajka-w-majonezie {
  @include panel;
  background: url(./../../img/foods/app/jajka-w-majonezie_thumb.jpg);
}

#zurek {
  @include panel;
  background: url(./../../img/foods/soup/zurek_thumb.jpg);
}
#pierogi {
  @include panel;
  background: url(./../../img/foods/mainDish/pierogi_thumb.jpg);
}
#golabki {
  @include panel;
  background: url(./../../img/foods/mainDish/golabki_thumb.jpg);
}
#nalesniki {
  @include panel;
  background: url(./../../img/foods/dsrt/nalesniki_thumb.jpg);
}

//media

.buttonMusic {
  @include panel;
  background-image: url(./../../img/media/music.jpg);
}

.buttonMovies {
  @include panel;
  background-image: url(./../../img/media/movies.jpg);
}

.buttonGames {
  @include panel;
  background-image: url(./../../img/media/games.jpg);
}

.buttonSeries {
  @include panel;
  background-image: url(./../../img/media/series.jpg);
}
