//basic sign
.sign {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 35px;
  justify-content: center;
  .sign--person {
    color: grey;
    font-size: 12px;
    font-weight: 500;
  }
  a {
    font-size: 12px;
    font-weight: 500;
    padding: 0 15px 0 0;
    &:hover {
      font-weight: 700;
    }
  }
}

//news author
.author {
  font-size: 12px;
  font-weight: 500;
  &:hover {
    font-weight: 700;
  }
}

//source
.source {
  display: block;
  text-align: center;
  margin: 0 auto;
}