$colors: (
  youtube: red,
  netflix: red,
);

@each $name, $color in $colors {
  .#{$name} {
    color: $color;
  }
}

@function isLink($color) {
    @if(color == "red") {
        $name:hover {
            color: $color-basic;
        }
    }
}