//lessons, dialogue, media all
@mixin panel{
    background-color: none;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 28px;
    transition: 0.4s;
    margin: 1px;
    background-repeat: no-repeat;
    background-size: 100%;
    text-shadow: 2px 2px 8px #111;
    text-align: center;
    font-weight: bold;
    transition: opacity .7s;
    &:hover{
        opacity: .7;
    }
    &.active{
        opacity: .7;
    }
}

//cases
@mixin square{
    margin: 16px 16px 0;
    width: calc(100% - 32px);
    display: block;
    transition: opacity 0.8s;
    &:hover{
        opacity: .7;
    }
}

@mixin rectangle{
    margin: 16px 16px 0;
    width: calc(100% - 32px);
    display: block;
    transition: opacity .8s;
    &:hover{
        opacity: 0.7;
    }
}

//modal
@mixin modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
    z-index: 5;
}