@import "fonts";
@import "colors";

//back button
.back {
  color: $color__basic;
  border: none;
  background-color: $color__link;
  width: 100%;
  position: fixed;
  z-index: 2;
}
.back:hover {
  color: $color__link--hover;
  border: transparent;
}

.back::before {
  content: "⇦";
}

section.quiz {
  .back {
    top: 0;
  }
}

@media only screen and (min-width: 1000px) {
  .back {
    color: $color__basic;
    border: none;
    background-color: $color__link;
    border-radius: 12px;
    transition: background-color 0.8s;
    width: fit-content;
    margin-top: 15px;
    left: 150px;
  }
  .back:hover {
    background-color: $color__link--hover;
    border-radius: 12px;
    color: $color__basic;
  }
  .back:focus {
    border-radius: 12px;
    background-color: $color__link--hover;
    border: none;
    border-radius: none;
  }
  .back::before {
    content: "⤾ ";
  }
}

//about button
.button__black {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: $color__basic;
  background-color: $color__default;
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-radius: 12px;
}

.button__black:hover {
  background-color: #555;
}

//form button
form {
  .form__button {
    font-family: $font-family__primary;
    background-color: $color__link;
    border-color: transparent;
    color: $color__basic;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
    border-color: transparent;
    border-radius: 20px;
    transition: background-color 0.8s;
    &:hover {
      background-color: $color__link--hover;
    }
  }
}

//default button
.button__default {
  font-family: $font-family__primary;
  background-color: $color__link;
  border-color: transparent;
  color: $color__basic;
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  border-color: transparent;
  border-radius: 20px;
  transition: background-color 0.8s;
  &:hover {
    background-color: $color__link--hover;
    color: $color__basic;
  }
}

//contact button
.form__contact {
  .form__button {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
  }
}

//close button
#close,
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: $color__basic;
  font-size: 40px;
  font-weight: bold;
  transition: color 0.3s;
  border: none;
  outline: none;
  background-color: transparent;
}

.modal-container {
  .close {
    color: $color__default;
    top: 0;
    right: 0;
  }
}

#close:hover,
#close:focus,
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

//about
.container__card {
  .button__black {
    margin-top: 17px;
  }
}

//quiz
.quiz {
  .button__default {
    line-height: 50px;
  }
}

.button-container {
  flex: 0;
}
