//Global

.inline__paragraf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  p {
    margin-right: 10px;
  }
}

//Lessons

// noun genders lesson

.redLetter{
  color:#EF1111;
}

//to be verb lesson
.accent{
  color: #B2179D;
}

#afterSubmit{
  padding:10px;
  width:100%;
}

// idioms lesson

.example {
  color: #B2179D;
}

.lesson--nounGrammaticalGender.active + .panel > p:nth-child(2) {
  margin: 25px 0;
}

//adjectives lesson

.lesson.lesson--adj + .panel > i:nth-last-child(3) {
  margin-top: 25px;
}

// numerals lesson
.blue {
  color: #3E0BB5;
}

.green{
  color:#0BB516;
}